name: tools
on: [push, pull_request]

jobs:
  release:
    name: Release
    if: github.ref == 'refs/heads/sven/gcp-functions'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: compile tools
        run: make clean all

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: c${{ github.sha }}
          release_name: Release ${{ github.sha }}
          draft: false
          prerelease: false

      # - uses: actions/upload-release-asset@v1
      #   name: release algolia
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./bin/algolia
      #     asset_name: algolia
      #     asset_content_type: application/octet-stream

      # - uses: actions/upload-release-asset@v1
      #   name: release autoupdate
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./bin/autoupdate
      #     asset_name: autoupdate
      #     asset_content_type: application/octet-stream

      # - uses: actions/upload-release-asset@v1
      #   name: release checker
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./bin/checker
      #     asset_name: checker
      #     asset_content_type: application/octet-stream

      # - uses: actions/upload-release-asset@v1
      #   name: release packages
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./bin/packages
      #     asset_name: packages
      #     asset_content_type: application/octet-stream

      # - uses: actions/upload-release-asset@v1
      #   name: release kv
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: ./bin/kv
      #     asset_name: kv
      #     asset_content_type: application/octet-stream

      - uses: actions/upload-release-asset@v1
        name: release process-version function
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./functions/process-version/process-version.zip
          asset_name: process-version
          #asset_content_type: application/zip

      - uses: actions/upload-release-asset@v1
        name: release check-pkg-updates function
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./functions/check-pkg-updates/check-pkg-updates.zip
          asset_name: check-pkg-updates
          #asset_content_type: application/zip

      - uses: actions/upload-release-asset@v1
        name: release process-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./bin/process-version
          asset_name: process-version
          asset_content_type: application/octet-stream

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: compile tools
        run: make all

      - name: run tests
        run: make test

  lint:
    name: golint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.29
